@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height:6rem;
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
 }
 
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
  
 }
 .logo a{
    text-decoration: none;
    font-size: 1.5rem;
    color:#0000FF;
    display: flex;
    gap:10px;
    align-items: center;
 }
 .logo img{
    width: 80px;
    height: 80px;
  }
  .logo span{
     color: #ff0000;
     font-weight: 600;
   }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    z-index: 1001;
}

.nav-links li {
    list-style: none;
 
}
.nav-links a {
    text-decoration: none;
     font-size: 1rem;
    font-weight: 600;
 }
 .nav-links a:hover{
    color: #000088;

 }
 
 .hamburger {
    display: none;
}
/* Custom styling for the results page */
 

h1 {
  color: #2c3e50;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.max-w-6xl {
  max-width: 72rem;
  margin: 0 auto;
  padding: 3rem 0;
}

.result-box,
.chart-box {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

.chart-box {
  margin-top: 2rem;
}

table {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* Print Styles */

@media print {
  .no-print {
    display: none;
    /* Hide elements with this class during printing */
  }
}


/* RESPONSIVE */

@media (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
  }
  .navbar {
    padding: 1rem 0;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 6%;
    cursor: pointer;
    font-size: 2rem;
    background-color: rgb(241, 238, 238);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    padding: 5px 10px;
    color: #575757;
  }
  .nav-links {
    margin-top: 7rem;
    font-size: 1rem;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-weight: 800;
    position: fixed;
    top: 0;
    left: 0;
    height: 350px;
    padding: 10px 0;
    background-color: #f7f7f7;
    text-align: center;
    transform: translateY(0%);
    transition: transform 0.5s;
  }
  .nav-links a {
    margin-left: 2rem;
  }
  .nav-links[data-visible="false"] {
    transform: translateY(-200%);
  }
  .nav-links[data-visible="false"] {
    transform: translateY(-200%);
  }

  .hamburger i[data-visible="true"] {
    display: block;
  }

  .hamburger i[data-visible="false"] {
    display: none;
  }
}

  @media (min-width: 768px) and (max-width: 1024px) {
    header {
      width: 100%;
      height: auto;
    }
    .navbar {
      padding: 1rem 0;
    }
    .nav-links {
      margin-top: 7rem;
      font-size: 1rem;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      font-weight: 800;
      position: fixed;
      top: 0;
      left: 0;
      height: 300px;
      padding: 10px 0;
      background-color: #fff;
      text-align: center;
      transform: translateY(0%);
      transition: transform 0.5s;
    }
    .nav-links a {
      margin-left: 2rem;
    }
    .nav-links[data-visible="false"] {
      transform: translateY(-200%);
    }

    .hamburger i[data-visible="true"] {
      display: flex;
    }

    .hamburger i[data-visible="true"] {
      display: flex;
    }
  
}

